<style>
    .border-input {
        margin-bottom: 1em;
    }
</style>
<script language="javascript">
    function periodChanged(element) {
        const parent = element.parent().parent().parent();
        const period = +(parent.find("#period").val() ?? 0);
        const periodUnitVal = parent.find("#periodUnit").val();
        const startDateElement = parent.find("#dateTimeFrom");
        let startDate = new Date();
        try {
            startDate = new Date(startDateElement.val());
            startDateElement.val(startDate.toISOString().split('T')[0]);
        } catch(e) {
            startDate = new Date();
            startDateElement.val(startDate.toISOString().split('T')[0]);
        }
        let periodUnit;
        switch (periodUnitVal) {
            default:
            case "1": periodUnit = "days"; break;
            case "2": periodUnit = "months"; break;
        }

        let date = new Date(startDate);
        switch (periodUnit) {
            case "months":
                date.setMonth(date.getMonth() + period);
                break;
            case "days":
                date.setDate(date.getDate() + period);
                break;
        }
        changeDueDate(date);
    }
    function changeDueDate(date) {
        $("#dueDate").val(date.toISOString().split('T')[0]);
    }
    $(document).ready(() => {
        periodChanged($("#period"));
    });
</script>
{{> ValidationBackend}}

<p>Create a new dividend distribution to start issuing dividend payouts</p>
<br/>
<form id="newDividendForm" method="post" action="dividends">
    <input type="hidden" name="_csrf" value="{{csrfToken}}"/>
    <div class="row">
        <div class="col-md-12">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" maxlength="255" class="form-control border-input"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="shareTypeId">Share Class</label>
            <select id="shareTypeId" name="shareTypeId" type="number" class="form-control border-input">
                <option value=0>All</option>
                {{#each ./shareTypes}}
                    <option value={{this.id}}>{{this.title}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-xs-6 col-md-3">
            <label for="period">Period</label>
            <input id="period" name="period" onchange="periodChanged($(this))" type="number" min="1" value="1" class="form-control border-input"/>
        </div>
        <div class="col-xs-6 col-md-3">
            <label for="periodUnit">Unit</label>
            <select id="periodUnit" name="periodUnit" onchange="periodChanged($(this))" class="form-control border-input">
                <option value=2>Months</option>
                <option value=1>Days</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <label for="dateTimeFrom">Starting From</label>
            <input id="dateTimeFrom" name="dateTimeFrom" type="date" onchange="periodChanged($(this))" onkeydown="event.preventDefault();" class="form-control border-input"/>
        </div>
        <div class="col-xs-6">
            <label for="dueDate">First Due Date</label>
            <input id="dueDate" name="dueDate" type="date" onkeydown="event.preventDefault();" class="form-control border-input"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <label for="awardValue">Award Value</label>
            <input id="awardValue" name="awardValue" type="number" min="0.001" step="0.001" max="999999999.999" class="form-control border-input"/>
        </div>
        <div class="col-md-8 col-xs-12">
            <label for="awardStrategy">Award Formula</label>
            <select id="awardStrategy" name="awardStrategy" class="form-control border-input">
                {{#each strategies}}
                    <option value={{this.id}}>{{this.description}}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-12">
            <label for="channelId">Payment Channel</label>
            <select id="channelId" name="channelId" class="form-control border-input" readonly="true">
                <option value=0>Internal Wallet</option>
            </select>
        </div>
        <div class="col-md-6 col-xs-12">
            <label for="currencyId">Currency</label>
            <select id="currencyId" name="currencyId" class="form-control border-input" readonly="true">
                <option value=0>Project Default</option>
            </select>
        </div>
    </div>
</form>
