
<script language="javascript">

        $(document).ready(function(){
            //moveScroller();
        })
        function logout() {
            window.location.href = "/logout";
            return false;                
        }        
        function backToDashboard() {
            window.location.href = "/dashboard";
            return false;                            
        }
        function openReferalLink() {
             showModelGeneralOKDialogBox("Here is your referral link. Use your mouse and select and copy this link  <br/><br/> Please make sure investors you invite in the platform use this link to get registered in the platform <br/><br/> https://dashboard.genius-estates.com/register?referralID={{Data.Login_UserID}}");
        }
    
</script>        

</head>
<body>

<div class="wrapper">

    <div class="sidebar" data-background-color="white" data-active-color="danger">
    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->
    	<div class="sidebar-wrapper"  style="overflow-x: hidden; overflow-y: auto;">
            <div class="logo">
                <a href="wizard?step=0" class="simple-text"  >
                    <img src="/img/stologo/{{Data.logo}}" style="max-height: 100px; max-width: 120px;" /> 
                </a>
            </div>

            <ul class="nav">
                
                
                <li id="DashboardLink">
                    <a href="dashboard">
                        <button onclick="return backToDashboard()" class="btn btn-info btn-fill btn-wd">Dashboard</button>
                    </a>
                </li>                
                
                
                {{#each sideTitles}}
                    <li id="{{this.liID}}">
                        <a href="{{this.stepLink}}">
                            <i class="{{this.icon}}"></i>
                            <p>{{this.sideTitle}}</p>
                        </a>
                    </li>
                {{/each}}
            </ul>
            
    	</div>
    </div>
	
    <div class="main-panel">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                
                <button type="button" class="navbar-toggle">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar bar1"></span>
                    <span class="icon-bar bar2"></span>
                    <span class="icon-bar bar3"></span>
                </button>
                
                
                <div class="navbar-header stopATagLink">
                    <a class="navbar-brand">
                        {{#if InvestorRecord.isKYC}}
                            {{{__ "My-Profile"}}}
                        {{else}}
                            {{{__ "New investor onboarding – verification process"}}}
                        {{/if}}                    
                    </a>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li style="padding-top:15px;" >
                            {{> languageSelection}}
                        </li>                        
						
                        <li>
                            <a href="#">
								&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <span onclick="return openReferalLink()"><i class="ti-layout-placeholder"></i>&nbsp;
                                {{{__ "My Referral Link"}}}</span>
                            </a>
                        </li>
                                                
                        <li>
                            <a class="stopATagLink">Welcome {{Data.Login_UserName}}&nbsp;&nbsp;&nbsp;&nbsp;</a>
                        </li>
						<li>
                            <a href="#">
								<i class="ti-arrow-circle-up"></i>
								<span onclick="return logout()">{{{__ "Logout"}}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
		      <div class="container-fluid">

            {{#if InvestorRecord.KYCApplied}}
                {{#unless InvestorRecord.isKYC}}
                        <div style="position: sticky; top: 0px; z-index:1000000"  class="row">
                            <div id="scroller-anchor"></div>
                            <div id="scroller" class="col-md-12">
                                <div class="card">
                                    <div class="header">

                                    </div>
                                    <div class="content">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <span style="color:green">{{{__ "You submitted your profile previously. We are still evaluating your profile. Please contact our support for more details"}}} </span>
                                            </div>
                                        </div>

                                        <div class="row">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  {{/unless}}                  
            {{/if}}                  
                  
            {{#if InvestorRecord.isKYC}}
                <div style="position: sticky; top: 0px; z-index:1000000"  class="row">
                    <div id="scroller-anchor"></div>
                    <div id="scroller" class="col-md-12">
                        <div class="card">
                            <div class="header">
                                
                            </div>
                            <div class="content">
                                
                                <div class="row">
                                    <div class="col-md-12">
                                        {{{__ "Your current investor status is"}}} &nbsp;&nbsp;&nbsp; <b>{{authType}}</b>  &nbsp;&nbsp;&nbsp;  {{{__ "Below you can change or upgrade your profile"}}}
                                    </div>

                                </div>
                                
                                <div class="row">
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{/if}}
                  
                  
                  
                  
