{{> Header}}

	<script language="javascript">

        var investorShares = {{investorShares.shares}};

        $(document).ready(function(){
            $("#InvestorsMenu").addClass('active');

            $( "#purchaseDate" ).datepicker({ dateFormat: 'yy-mm-dd' });


        })
        function transferShares() {

            if (document.getElementById("companyinvestorselected2").checked == true) {
                if(document.getElementById("investorID").value == "-1") {
                    showModelGeneralOKDialogBox("No purchaser (investor) selected <br/ ><br/ > Please click Search Investor and search and select a purchaser  ");
                    return;
                } else
                    document.getElementById("selectedInvestorID").value = document.getElementById("investorID").value;
            } else
                 document.getElementById("selectedInvestorID").value = "-100";

            if(document.getElementById("sharesToTransfer").value == "") {
                showModelGeneralOKDialogBox("Please enter number of shares to transfer under seller information");
                return;
            }

            if(isNaN( document.getElementById("sharesToTransfer").value) ) {
                showModelGeneralOKDialogBox("Number of shares to transfer under seller information is not numeric");
                return;
            }

            if (document.getElementById("sharesToTransfer").value <= 0) {
                showModelGeneralOKDialogBox("Number of shares to transfer under seller information cannot be negative or zero");
                return;
            }

            if (investorShares < document.getElementById("sharesToTransfer").value ) {
                showModelGeneralOKDialogBox("Number of shares to transfer under seller information must be less than or equal to " + investorShares);
                return;
            }


            if(document.getElementById("purchaseDate").value == "") {
                showModelGeneralOKDialogBox("Please select Purchase Date under Purchaser Information");
                return;
            }


            showModelGeneralYesNoDialogBox("Are you sure you want to transfer " + document.getElementById("sharesToTransfer").value + " share(s)" , "Transfer Shares", "Cancel");
        }
        function generalModelOKButtonClickedClientEvent() {
            document.getElementById("frmtoken").submit();
        }
        function openSearchInvestor() {
            $('#modelPrivateKeySelector').appendTo("body").modal( { backdrop: 'static', keyboard: true });
        }
        function searchInvestorJSONModel() {
            $('#modelInvestorSearchJSON').appendTo("body").modal(
                { backdrop: 'static', keyboard: false }
            );
        }
        function searchInvestorJSONSelectEventClient(id, name, country, email) {
            document.getElementById("investorID").value = id;

            $("#divInvestorInfo").html(id + " &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + unescape(name) + " &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + unescape(country) + " &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; " + email);
        }
        function investorcompanyselectedfortransfer() {
            if(document.getElementById("companyinvestorselected1").checked == true) {
                $("#spanInvestorControl").hide();
            } else if (document.getElementById("companyinvestorselected2").checked == true) {
                $("#spanInvestorControl").show();
            }
        }

	</script>

{{> HeaderInnerSto}}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">  <img src="/img/transfer.png" width="30px;" style="padding-bottom:-10px;" /> &nbsp;  Transfer Shares</h4>
                </div>
                <div class="content">

                    <form id="frmtoken" name="frmtoken" action="transferSharesSubmit" method="post">
                        <h4>  <img src="/img/user.png" width="30px;" style="padding-bottom:-10px;" /> &nbsp; Seller Information</h4>

                        <div class="row">
                            <div class="col-md-2"> <label>Investor</label> </div>
                            <div class="col-md-8"> {{investorRec.FirstName}} {{investorRec.LastName}} </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"> <label>Shares</label> </div>
                            <div class="col-md-8">
                                {{numberFormat investorShares.shares decimalLength="ShareCountInFractions"}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"> <label>Shares Type</label> </div>
                            <div class="col-md-8"> {{investorShares.title}} </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2"> <label>Nominal Value</label> </div>
                            <div class="col-md-8">
                                {{currencySymbol investorShares.currencyid}} {{investorShares.nominalValue}}   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <label>Market</label>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                {{#if investorShares.premimum}}
                                    {{currencySymbol investorShares.currencyid}}
                                    {{investorShares.premimum}}
                                {{else}}
                                    n/a
                                {{/if}}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <label>How many Shares to transfer</label> &nbsp;&nbsp;
                                <input type="textbox"  placeholder="Enter Shares"  class="form-control border-input" id="sharesToTransfer" name="sharesToTransfer" />
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Certificate Nos</label>
                                    <input  type="text" style="width:270px; " id="certificatesnos"  name="certificatesnos" class="form-control border-input" placeholder="Enter Certificate Number(s)"  value="{{sharesHistoryRec.CertificateSerials}}" />
                                </div>
                                <div class="col-md-6">
                                    <label>Share Nos</label>
                                    <input  type="text" style="width:270px;"  placeholder="Enter Share Number(s)" id="sharenos"  name="sharenos" class="form-control border-input" value="{{sharesHistoryRec.ShareSerials}}" />
                                </div>
                            </div>
                        </div>



                        <hr />

                        <h4> <img src="/img/user.png" width="30px;" style="padding-bottom:-10px;" /> &nbsp; Purchaser Information</h4>

                        <div class="row">
                            <div class="col-md-4">
                                <input type="radio" id="companyinvestorselected2" name="companyinvestorselected" value="2" checked onchange="investorcompanyselectedfortransfer()" />  &nbsp;&nbsp;&nbsp;&nbsp; <b>Transfer to another investor</b>
                            </div>
                            <div class="col-md-8">
                                <span id="spanInvestorControl">
                                    <label>Select Investor</label> &nbsp;&nbsp;
                                    <input type="hidden" id="investorID" name="investorID" value="-1"  />
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <span id="divInvestorInfo"> No Investor Selected </span>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="button" class="btn btn-info btn-fill btn-wd" onclick="searchInvestorJSONModel()">Search Investor</button>
                                </span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                  <input type="radio" id="companyinvestorselected1" name="companyinvestorselected" value="1"  onchange="investorcompanyselectedfortransfer()"/> &nbsp;&nbsp;&nbsp;&nbsp; <b>Transfer back to company</b>
                            </div>
                        </div>

                        <br />

                        <div class="row">
                            <div class="col-md-3">
                                <label>Select Purchase Date</label> &nbsp;&nbsp;
                                <input id="purchaseDate" name="purchaseDate"  onkeydown="return false;" class="form-control border-input datepicker-here" data-language='en'  placeholder="Select Purchase Date"
                                 data-date-format="MM dd yyyy" type=text autocomplete="off" type=text />
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Certificate Nos</label>
                                    <input  type="text" style="width:270px; " id="certificatesnospurchaser"  name="certificatesnospurchaser" placeholder="Enter Certificate Number(s)"  class="form-control border-input" value="" />
                                </div>
                                <div class="col-md-6">
                                    <label>Share Nos</label>
                                    <input placeholder="Enter Share Number(s)"  type="text" style="width:270px; " id="sharenospurchase"  name="sharenospurchase" class="form-control border-input"  value="" />
                                </div>
                            </div>
                        </div>





                        <input type="hidden" id="selectedInvestorID" name="selectedInvestorID" value="-1"  />
                        <input type="hidden" id="_csrf" name="_csrf" value="{{csrfToken}}" />
                        <input type="hidden" id="id" name="id" value="{{investorShares.ID}}"/>

                        <br><br>
                        <button type="button" class="btn btn-info btn-fill btn-wd" onclick="transferShares()">Transfer Shares</button>
                        &nbsp;&nbsp;&nbsp;
                    </form>


                    <br>
                </div>
            </div>
        </div>
    </div>

{{> investorSearchModuleJSON}}
{{> Footer}}
