<script>

    function newDoc() {
        window.location.href = "externalDoc?dirid={{id}}";
        return false;
    }

    function editdoc(id, dir) {
        window.location.href = "externalDoc?id=" + id + "&dirid=" + dir;
    }
</script>

<hr />
<div class="row">
    <div class="col-md-4">
        <h5>{{externalPlatformName}} Documents</h5>
    </div>
    <div class="col-md-2">
        {{#ifIn 33 Data.AdminRights}}
            <button type="button" onclick="return newDoc()" class="btn btn-info btn-fill btn-sm"> Link New Contract </button>
        {{/ifIn}}
    </div>
</div>
{{#if filesRec.length}}
    {{#each filesRec}}
        <div class="row"  style="padding-top:10px;">
          <div class="col-md-8" >
            {{#ifIn 33 ../Data.AdminRights}}
                {{#unless this.offerID}}
                    <a onclick="deletedoc({{this.ID}}, {{this.directoryid}})" class="linkStyle100 hovercolor" >
                        <img src="/img/cross.png" width="13px;" />
                    </a>
                {{/unless}}
            {{/ifIn}}

            {{#if this.enabled}}
              <img src="/img/greendot.png" width="13px;"  />
            {{else}}
              <img src="/img/reddot.png" width="13px;"  />
            {{/if}}
            <img src="/img/document.png" width="25px;"  />
            <a class="linkStyle100"  href="externalDoc?id={{this.ID}}&dirid={{this.directoryid}}"> {{this.title}} </a>
            <a class="linkStyle100"  href="externalDoc?id={{this.ID}}&dirid={{this.directoryid}}">
              {{#ifEqual ../externalPlatformName 'DocuSign'}}
                (ID: {{this.docusignDocumentID}})
              {{else}}
                (ID: {{this.helloSignDocumentID}})
              {{/ifEqual}}
            </a>
          </div>
            <div class="col-md-4">
                {{#if this.offerID}}
                    <a style="cursor: pointer;" onclick="gotoOfferedContractList({{this.ID}}, {{this.offerID}}, {{this.directoryid}})">
                        <img src="/img/signed.png" width="22px;"  />
                    </a>
                    {{#if this.newContracts}}
                        <span style="font-size:12px; color:red;">{{this.newContracts}} New </span>
                    {{/if}}
                    <span style="font-size:12px;"> {{this.signedContracts}} Contract </span>
                {{else}}
                    <a onclick="editdoc({{this.ID}}, {{this.directoryid}})" class="linkStyle100 hovercolor" >
                        <img src="/img/edit.png" width="25px;" data-toggle="tooltip" data-placement="top" title="Edit/View Document" />
                    </a>
                {{/if}}
            </div>
        </div>
    {{/each}}
{{else}}
    <label>No Draft Contracts Found in {{externalPlatformName}}</label>
{{/if}}