<html>
<head>
    <title>{{SiteParameter_PageTitle}}</title>
    <link href="../assets/css/bootstrap.min.css" rel="stylesheet" />
    
    <style type="text/css">
         body#LoginForm{ 
            background-image:linear-gradient(#efefef, #c0c0c0); 
            background-repeat:no-repeat; 
            background-position:center; 
            background-size:cover; 
            padding:10px;
        }
        
        .login-form .form-control {
          background: #f7f7f7 none repeat scroll 0 0;
          border: 1px solid #d4d4d4;
          border-radius: 4px;
          font-size: 14px;
          height: 50px;
          line-height: 50px;
        }
        .main-div {
          background: #ffffff none repeat scroll 0 0;
          border-radius: 2px;
          max-width: 420px;
          padding: 60px;
        }

        .login-form{ text-align:center;  padding: 0;
            margin: 0;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .login-form  .btn.btn-primary {
          background: #68b3c8 none repeat scroll 0 0;
          border-color: #68b3c8;
          color: #ffffff;
          font-size: 14px;
          width: 100%;
          height: 50px;
          line-height: 50px;
          padding: 0;
        }

     </style>    
    
    <script type="text/javascript">

         function login() {
                if(document.getElementById("iusername").value === "") {
                    alert("Username required");
                    return false;
                }
             
                if(document.getElementById("ipassword").value === "") {
                    alert("Password required");
                    return false;
                }

                document.getElementById("Login").submit();
         }

     </script>
    
    {{{CustomPlatformCSSStyles}}}
    
</head>

<body id="LoginForm">
<br /><br />

<div class="container">
    <div class="login-form">
        <div class="main-div">
            <div class="panel">
               <img src="/img/stologo/{{logo}}" width="100%" /> 
            </div>
            <br /><br />
            
            {{#if showLogin}}
               <span style="font-size:30px">Forgot Password</span>
               <p>Please enter your registered email address<br />You will receive an email with link and a secret code. To reset password click the link and enter secret code from email</p>            

                <form id="forgotPassword" action="/forgotpasswordpost" method="post">
                    <div >
                        <input type="text" class="form-control" id="iusername" name="iusername" placeholder="Your Email">
                    </div><br>
                    <button onclick="return login()" class="btn btn-primary">Send Link</button>
                    <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                </form>
            
                <a href="login"> Login Here</a>
            {{else}}
                {{#ifEqual errorCode 2}}
                    <span style="color:red; font-size:20px">You already requested password 10 times today</span>
                {{else ifEqual errorCode 3}}
                    <span style="color:red; font-size:20px">SMTP Provider Invalid Contact Support</span>
                {{else}}
                    <span style="font-size:16px; color:red;">We have sent an email with link to change password</span>
                {{/ifEqual}}
            {{/if}}
            <br/> 
        </div>
    </div>
</div>

    
</body>
</html>
