{{> Header}}

	<script language="javascript">

        $(document).ready(function() {

        })
        function submitForm() {
            var res = "";

            if(document.getElementById("email").value == "")
                res = res + "<li>Email address is required</li>";
            if(document.getElementById("password").value == "")
                res = res + "<li>Password is required</li>";
            if(document.getElementById("password").value.length < 10)
				res = res + "<li>Password must be at least 10 characters long</li>";
            if(document.getElementById("password").value.length > 100)
				res = res + "<li>Password must be maximum of 100 characters long</li>";
            //if(document.getElementById("secretcode").value == "")
            //    res = res + "<li>Secret code is required</li>";


            if(res == "")
                document.getElementById("secretForm").submit();
            else
            {
                $(window).scrollTop(0);
                $("#ErrorMessages").html(res)
            }
        }
        function resendCodeHandler() {
            document.getElementById("resendCode").submit();
        }

	</script>

{{> HeaderInner}}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">

                </div>
                <div class="content">

                    <img src="/img/2stepverification_banner.png" width="100%"/>
                        <br /><br />
                        <b><ul style="color:red;"><span id="ErrorMessages"> {{{Message}}} </span></ul></b>

                        <h3>Thank you for registering your information</h3>

                        We sent an email with a verification code to your email address. Please open your email and find your verification code now.
                        <br /><br />
                        Enter your verification code along with your email and password in the following form and click submit.
                        Your email address will be <br /> verified and you can start your verification steps.

                        <br /><br /><br />
                        <span style="font-size:10px; color:gray">
                            Note: If you do not receive the email in few minutes:<br />
                            <br />
                            <ul>
                            <li>Check the spam folder</li>
                            <li>Verify that you typed your email correctly</li>
                            {{#if SMTP_FromAddress}}
                                    <li>If you can't resolve the issue, please contact {{SMTP_FromAddress}}</li>
                            {{/if}}
                            </ul>
                        </span>

                        <br />

                    <div style="width:70%;" class="imageBoxWIthoutWidth">
                    <h3>Email verification</h3>

                    <form id="secretForm" name="secretForm" action="/verificationcodePost" method="post">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Enter your email address</label>
                                    <input type="text" maxlength="70" id="email" name="email" class="form-control border-input" placeholder="Enter your email address">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" id="password" name="password" class="form-control border-input" placeholder="Enter your password">
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Verification Code</label>
                                    <input type="text" maxlength="10" id="secretcode" name="secretcode" class="form-control border-input" placeholder="Enter your verification code">
                                </div>
                            </div>
                        </div>


                        <br />

                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                        <input type="hidden" name="registrationID" value="{{registrationID}}" />

                        <button type="button" onclick="return resendCodeHandler()" class="btn btn-info btn-fill btn-wd">Resend code</button>
                        <button type="button" onclick="return submitForm()" class="btn btn-info btn-fill btn-wd">Submit</button>


                    </form>
                    <form id="resendCode" name="resendCode" action="/resendCode" method="post">
                        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
                        <input type="hidden" name="registrationID" value="{{registrationID}}" />
                    </form>
                        <br /><br /><br />
                    </div>
                    <br /><br />
                </div>
            </div>
        </div>
    </div>

{{> Footer}}
