{{> Header}}

	<script language="javascript">

        $(document).ready(function(){
            $("#SystemUsers").addClass('active');
        })

        function viewClicked(id) {
            window.location.href = "systemuserView?id=" + id;
            return false;
        }

        function addUser() {
            window.location.href = "systemUserAddEdit?stoid={{stoid}}";
            return false;
        }

        function activateplatformadmin(id, enable) {
            window.location.href = "activateSystemUserForPlaformLogin?id=" + id + "&enable=" + enable;
            return false;
        }

	</script>

{{> HeaderInnerPlatform}}

    <div class="col-md-12 ">
        <div class="card">
            <div class="header">
                <h4 class="title">  <img src="/img/relative.png" width="30px;" style="padding-bottom:4px;" /> &nbsp;  Platform Administrators - {{stotitle}} <button onclick="addUser()" class="btn btn-info btn-fill" style="float: right;">Add User</button>   </h4>
                <label>List of Platform Administrators of company</label>
            </div>
            <div class="content table-responsive table-full-width icon-section">
                <table class="table table-striped">
                    <thead>
                        <th>Name</th>
                        <th>Active</th>
                        <th>User Name</th>
                        {{#unless stoid}}
                                <th>Platform Admin Login</th>
                        {{/unless}}
                        <th></th>
                    </thead>
                    <tbody>
                        {{#each DataRows}}
                        <tr>
                            <td style="width: 20%">{{this.FirstName}} {{this.LastName}}</td>
                            <td style="width: 10%">
                                {{#if this.isActive}}
                                        <img src="/img/greendot.png" width="22px" />
                                {{else}}
                                        <img src="/img/reddot.png" width="20px" />
                                {{/if}}
                            </td>
                            <td style="width: 20%">{{this.Username}}</td>
                            {{#unless ../stoid}}
                                <td style="width: 30%">
                                       {{#if this.isPlatformAdminLogin}}
                                                <b>Yes</b>&nbsp;&nbsp;
                                                <img src="/img/greendot.png" width="20px" />
                                                <button onclick="return activateplatformadmin({{this.ID}}, 0)" class="btn btn-info btn-fill btn-sm">De-Activate</button>
                                        {{else}}
                                                <b>No</b> &nbsp;&nbsp;
                                                <img src="/img/reddot.png" width="20px" />&nbsp;&nbsp;
                                                <button onclick="return activateplatformadmin({{this.ID}}, 1)" class="btn btn-info btn-fill btn-sm">Activate</button>
                                        {{/if}}
                                </td>
                            {{/unless}}
                            <td style="width: 20%">
                                <button onclick="return viewClicked({{this.ID}})" class="btn btn-info btn-fill btn-sm">View</button>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>

                &nbsp;&nbsp;&nbsp;&nbsp;
                <img src="/img/greendot.png" width="22px" />&nbsp;Active    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    <img src="/img/reddot.png" width="20px" />&nbsp;Disabled Login

                <br />&nbsp;
            </div>
        </div>
    </div>

{{> Footer}}
