{{> Header}}

{{> multifileupload}}

<script src="/libs/signature.js"></script>

	<script language="javascript">
        const STOContractSigned = {{STOContractSigned}};

		$(document).ready(function(){
            initlizeSignaturesCanvas("newSignature");
            {{#if investorRec.investorType}}
                    initlizeSignaturesCanvas("newSignature2");
            {{/if}}

		})
		function getDetails(id) {
            window.location.href = "/updateDetails?id=" + id;
            return false;
		}
        function signContract() {

            if( document.getElementById("DateIncorporation").value == "" ) {
                showModelGeneralOKDialogBox("Please enter date")
                return;
            }

            if ( isSignatureAreaIsEmpty("newSignature") ) {
                showModelGeneralOKDialogBox("Please sign the contract.")
                return;
            }


            {{#if investorRec.investorType}}
                    if ( isSignatureAreaIsEmpty("newSignature2") ) {
                        showModelGeneralOKDialogBox("Please sign the contract.")
                        return;
                    }
            {{/if}}


                var data = `<h4>Subscription Agreement</h4>

                                        By executing this Signature Page, the undersigned hereby executes, adopts and agres to all terms, conditions and representations of this Subscription Agreement and acknowledges all requirements are met by the purchases to purchase shares in the Series.
                                        <br /><br />
                                        Number of Tokens &nbsp;&nbsp;&nbsp; <b> {{buyRequest.Shares}} </b>

                                        <br /><br />
                                        Aggregate Purchase Price &nbsp;&nbsp;&nbsp; <b>{{currencySymbol shareRec.currencyid}}    {{purchasePrice}}</b>

                                        <br /><br />
                                        <div class="row">
                                            <div class="col-md-12">
                                                The undersigned purchaser has executed this Signature Page on this `;

                    data = data + "&nbsp;&nbsp;&nbsp;&nbsp;" + document.getElementById("DateIncorporation").value;

                    data = data + `</div>
                                            </div>
                                                <br /><br />
                                                {{investorRec.FirstName}} {{investorRec.MiddleName}} {{investorRec.LastName}}   <br /><br />`;

                    data =  data  +  "<img src=" + getSignatureImageData("newSignature")  + " /><br />";


                    {{#if investorRec.investorType}}
                            data =  data  +  "<br /><br />";
                            data =  data  +  "Signature of Authorized Co-Signatory, if required<br />";
                            data =  data  +  "<img src=" + getSignatureImageData("newSignature2")  + " />";
                    {{/if}}


                    document.getElementById("contents").value = data;

                    $("#signContractForm").submit();
        }
        function callMultiFileUpdate(id) {
                if(id == 1) {
                    checkAndUpdateMultiFileUpload('photos222', 'upload-file1',  /(\.tif|\.tiff|\.jpg|\.jpeg|\.png|\.gif|\.doc|\.docx|\.pdf)$/i, "Select only selected extensions", 2, 1, 4)
                }
            }
        function multipleFilesUploadingDoneEvent(data) {
                document.getElementById("contentstype").value = "file";
                document.getElementById("contents").value = JSON.stringify(data);
                document.getElementById("signContractForm").submit();
            }


        function signSubscrionForm(id) {

                        if(id == 2) {    //Contract form 2
                              if( STOContractSigned == 0 ) {
                                    showModelGeneralOKDialogBox("Please sign the Subscription Agreement Contract first");
                                    return;
                              }
                        }

                window.location.href =  "signRedSwanDocuSignSubscriptionForm?id={{buyRequest.ID}}&formid=" + id;
                return false;
        }

        function signInternalForm(requestID, documentID) {
                window.location.href = 'sharePurchaseDocument?sharePurchaseID='+requestID+'&documentID='+documentID;
                return false;
        }

	</script>

{{> HeaderInner}}

    <div class="row">
            <div class="col-md-12">
                <div class="card">

                    <div class="header">
                      <div class="row">
                        <div class="col-md-10">
                          <h4 class="title"> <img src="/img/contracts.png" width="30px">Contracts Signing</h4>
                        </div>
                      </div>
                    </div>
                    {{#if internalMode}}
                      <div class="content">
                      You are purchasing shares for a project.
                      {{#each documents}}
                      <br /><br /><br />
                      <div class="row">
                        <div class="col-md-1"> <img src="/img/graydot.png" width="10px"> <span class="title"> </span> </div>
                        <div class="col-md-10">
                          <h4 class="title"> <img src="/img/document2.png" width="30px">{{this.title}}</h4>
                          <br />
                          {{#if this.requireOnce}}
                              This contract only needs to be signed for the first purchase of shares.
                          {{else}}
                              This contract  needs to be signed for every purchase of shares.
                          {{/if}}
                          <br /><br />
                          {{#if this.status}}
                            {{#ifGreater this.status 1}}
                              <img src="/img/greendot.png" width="20px"> You have signed the Investment Advisory Contract
                            {{else}}
                              <button type="button" class="btn btn-info btn-fill btn-sm" onclick="signInternalForm({{../buyRequest.ID}},{{this.ID}})">Sign Contract</button>
                            {{/ifGreater}}
                          {{else}}
                            <button type="button" class="btn btn-info btn-fill btn-sm" onclick="signInternalForm({{../buyRequest.ID}},{{this.ID}})">Sign Contract</button>
                          {{/if}}
                        </div>
                      </div>
                      {{/each}}

                      <br />

                      {{#if buyRequest.isBuySharesFormSigned}}
                        <div class="row">
                          <div class="col-md-1">
                            <img src="/img/done.png" width="50px">
                          </div>
                          <div class="col-md-10">
                            <br /><br />
                            Thank you for signing contracts to purchase project shares.  Administration is reviewing your request and will update you soon
                          </div>
                        </div>
                      {{/if}}
                    </div>
                    {{else}}
                    <div class="content">
                        You are purchasing shares for project. As part of the purchase you need to sign these contract(s)

                        <br /><br /><br />


                                <div class="row">
                                    <div class="col-md-1"> <img src="/img/graydot.png" width="15px"> &nbsp;&nbsp;&nbsp;  </div>

                                        <div class="col-md-10">
                                                <h4 class="title"> <img src="/img/document2.png" width="30px">  &nbsp; &nbsp;  Sign  Investment Advisory Contract</h4>
                                                <br />
                                                This contract needs to be signed once when making the first share purchase in any of the projects with RedSwan.

                                                <br /><br />
                                                {{#if STOContractSigned}}
                                                        <img src="/img/greendot.png" width="20px">  &nbsp; &nbsp;  You have signed the Investment Advisory Contract
                                                {{else}}
                                                        Click the sign button. You will be redirected to DocuSign.com for signing
                                                        <br /><br />
                                                        <button type="button" class="btn btn-info btn-fill btn-sm" onclick="signSubscrionForm(1)">Sign Contract</button>
                                                {{/if}}

                                        </div>
                                </div>

                        <br /><br />

                        <div class="row">
                            <div class="col-md-1">  <img src="/img/graydot.png" width="15px"> &nbsp;&nbsp;&nbsp; </div>

                                <div class="col-md-10">
                                        <h4  class="title"> <img src="/img/document2.png" width="30px">  &nbsp; &nbsp; Sign  Subscription Agreement</h4>
                                        <br />
                                        For each share purchase you need to sign this contract.
                                        <br /><br />
                                        {{#if buyRequest.isBuySharesFormSigned}}
                                               <img src="/img/greendot.png" width="20px">  &nbsp; &nbsp;      You have signed the Subscription Agreement
                                        {{else}}
                                                Click the sign button. You will be redirected to DocuSign.com for signing
                                                <br /><br />
                                                <button type="button" class="btn btn-info btn-fill btn-sm" onclick="signSubscrionForm(2)">Sign Contract</button>
                                        {{/if}}
                                </div>
                        </div>

                        <br />

                        {{#if AllContractsAreSigned}}

                                <div class="row">
                                    <div class="col-md-1">  &nbsp;&nbsp;&nbsp;&nbsp;   <img src="/img/done.png" width="50px">  </div>

                                        <div class="col-md-10">
                                                <br /><br />
                                                Thank you for signing contracts to purchase project shares.  Administration is reviewing your request and will update you soon
                                        </div>
                                </div>

                        {{/if}}

                    </div>
                    {{/if}}
                        <br /><br />


            </div>
        </div>
    </div>



    <!--<form id="signContractForm" name="signContractForm" action="/signSubscriptonFormsSubmit" method="post" >
        <input type="hidden" id="id" name="id" value={{buyRequest.ID}} />
        <input type="hidden" id="contentstype" name="contentstype" value="html" />
        <input type="hidden" id="contents" name="contents" value="" />
        <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    </form>!-->

{{> Footer}}
