            </div>

        </div>





        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>

                    </ul>
                </nav>
                <div>
					<center>
            <br /><center>
            {{{Data.disclaimer}}}
            <br />
            {{#if Data.poweredByLabel}}
              <br/>
              {{{Data.poweredByLabel}}}
              <br/>
            {{else}}
              <br />
              Powered by <a href="https://digishares.io"> DigiShares </a>
              <br/>
            {{/if}}
            <small>Revision: {{Data.revision}}</small>
            </center><br />
					</center>
                </div>
            </div>
        </footer>


<div class = "modal fade" id="modelGeneralOKMessageModelBox" tabindex = "-1" role = "dialog" aria-labelledby = "modelGeneralOKMessageModelBox" aria-hidden = "true">

    <div class = "modal-dialog">
      <div class = "modal-content">

         <div class="modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
            <h4 class = "modal-title" id = "myModalLabel">{{Data.SiteParameter_PageTitle}}</h4>
         </div>

         <div class="modal-body">
             <span style="font-size:18px;" id="modelGeneralOKMessageArea"> </span>
             <br /> &nbsp;&nbsp;<br /> &nbsp;&nbsp;

            <button type = "button" class = "btn btn-info btn-fill pull-right" data-dismiss = "modal"> &nbsp; OK &nbsp; </button>
             <br /> &nbsp;&nbsp;<br /> &nbsp;&nbsp;

         </div><!-- /.modal-content -->

      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>

<!-- Modal -->
<div class = "modal fade" id="modelCommonYesNoTwoOptionDialogBox" tabindex = "-1" role = "dialog"
   aria-labelledby = "myModalLabel" aria-hidden = "true">

   <div class = "modal-dialog">
      <div class = "modal-content">

         <div class = "modal-header">
            <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
            <h4 class = "modal-title" id = "myModalLabel">{{Data.SiteParameter_PageTitle}}</h4>
         </div>

         <div class = "modal-body" id="commonDialogYesNoDivTextArea"></div>

         <div class = "modal-footer">
            <button type = "button" class="btn btn-info btn-fill" data-dismiss="modal" id="modelCommonYesOptionButton" onclick="generalModelOKButtonClicked()"> Remove Shares </button>
            <button type = "button" class = "btn btn-info btn-fill"  id="modelCommonNoOptionButton" data-dismiss = "modal"> Cancel </button>
         </div>

      </div><!-- /.modal-content -->
   </div><!-- /.modal-dialog -->

</div><!-- /.modal -->

{{#ifEqual Data.InvestorCombinePropertiesMode 0}}
        <!-- Modal -->
        <div class = "modal fade" id="modelSelectInvestorSTO" tabindex = "-1" role = "dialog"
           aria-labelledby = "modelSelectInvestorSTO" aria-hidden = "true">

           <div class = "modal-dialog">
              <div class = "modal-content">

                 <div class = "modal-header">
                    <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">×</button>
                    <h4 class = "modal-title" id = "myModalLabel">Switch to other Dashboard</h4>
                 </div>

                 <div class = "modal-body" id="commonDialogYesNoDivTextArea">
                     You are registered in multiple companies. Currently you are in <b>{{Data.SiteParameter_PageTitle}}</b> dashboard. You can switch to a different company dashboard
                     <br /><br />
                    {{#each Data.investorSTOs}}
                        <div class="row">
                            <div class="col-md-3">
                                <img src="/img/stologo/{{this.logo}}" style="max-height: 100px; max-width: 120px; padding-top:5px;" />
                            </div>
                            <div class="col-md-6">
                                  <h5>{{this.title}}   </h5>
                            </div>
                            <div class="col-md-3">
                                <button type = "button" class="btn btn-info btn-fill" data-dismiss="modal" id="modelCommonYesOptionButton" onclick="changeSTOOfInvestor({{this.id}})"> Switch </button>
                            </div>
                        </div>

                    {{/each}}
                 </div>

                  <br />

              </div><!-- /.modal-content -->
           </div><!-- /.modal-dialog -->

        </div><!-- /.modal -->
{{/ifEqual}}

<script language="javascript" >

    function showModelGeneralOKDialogBox(msg) {
        $("#modelGeneralOKMessageArea").html(msg);
        $('#modelGeneralOKMessageModelBox').appendTo("body").modal( { backdrop: 'static', keyboard: true });
        return false;
    }


    function showModelGeneralYesNoDialogBox(msg, yesMsg, noMsg) {
        $("#commonDialogYesNoDivTextArea").html(msg + "</br></br>&nbsp;");
        $("#modelCommonYesOptionButton").html(yesMsg);
        $("#modelCommonNoOptionButton").html(noMsg);

        $('#modelCommonYesNoTwoOptionDialogBox').appendTo("body").modal( { backdrop: 'static', keyboard: true });
        return false;
    }

    function generalModelOKButtonClicked() {
        generalModelOKButtonClickedClientEvent();
    }


    function showInvestoSTOSelectionBox() {
        $('#modelSelectInvestorSTO').appendTo("body").modal( { backdrop: 'static', keyboard: true });
        return false;
    }

    function changeSTOOfInvestor(id) {
        window.location.href = "changeInvestorSTO?id=" + id;
    }

    function scrollToId(id, speed) {
        $('html,body').animate({
            scrollTop: $("#" + id).offset().top
        }, speed ?? 'slow');
    }

    function roundNumber(amount, zeroes) {
        if (Number.isNaN(+amount)) return NaN;
        amount = +amount;
        zeroes = +zeroes;
        if (!zeroes || Number.isNaN(zeroes) || zeroes < 0) zeroes = 2;
        const multiplier = Math.pow(10, zeroes);
        return (amount * multiplier / multiplier).toFixed(zeroes);
    }

    function localeNumber(value, zeroes) {
        zeroes = +zeroes;
        if (Number.isNaN(zeroes) || zeroes < 0) zeroes = 2;
        return (+value).toLocaleString(navigator.language, { maximumFractionDigits: zeroes });
    }

    function localeCurrency(value, currency) {
        if (!currency || currency === "undefined") return localeNumber(value);
        return (+value).toLocaleString(navigator.locale, { style: 'currency', currency: currency });
    }

</script>
{{!-- 
    This is a really dirty hack but I can not make it work any other way
    It clears the yes/no dialog modal footer and re-adds the buttons, otherwise they do not change no matter what.
    I think the show modal function re-adds them somehow
--}}
<script language="javascript">
    function changeModalYesButton(text, addClass, successFn) {

        const btnOK = $("#modelCommonYesOptionButton");
        const btnNO = $("#modelCommonNoOptionButton");
        const modalFtr = $("#modelCommonYesNoTwoOptionDialogBox .modal-footer");
        modalFtr.empty();

        btnOK.empty().append(text);

        btnOK.removeClass();
        btnOK.addClass("btn btn-fill");
        if (addClass)
            btnOK.addClass(addClass);
        else
            btnOK.addClass("btn-info");
        btnNO.addClass("btn-info");

        if (successFn) {
            generalModelOKButtonClickedClientEvent = successFn;
            btnOK.removeAttr('onclick');
            btnOK.off('click');
            btnOK.on('click', successFn);
        }

        modalFtr.append(btnOK);
        modalFtr.append(btnNO);
    }
</script>
{{!-- 
    This is a really dirty hack but I can not make it work any other way
    It clears the yes/no dialog modal footer and re-adds the buttons, otherwise they do not change no matter what.
    I think the show modal function re-adds them somehow
--}}
<script language="javascript">
    function changeModalYesButton(text, addClass, successFn) {

        const btnOK = $("#modelCommonYesOptionButton");
        const btnNO = $("#modelCommonNoOptionButton");
        const modalFtr = $("#modelCommonYesNoTwoOptionDialogBox .modal-footer");
        modalFtr.empty();

        btnOK.empty().append(text);

        btnOK.removeClass();
        btnOK.addClass("btn btn-fill");
        if (addClass)
            btnOK.addClass(addClass);
        else
            btnOK.addClass("btn-info");
        btnNO.addClass("btn-info");

        if (successFn) {
            generalModelOKButtonClickedClientEvent = successFn;
            btnOK.removeAttr('onclick');
            btnOK.off('click');
            btnOK.on('click', successFn);
        }

        modalFtr.append(btnOK);
        modalFtr.append(btnNO);
    }
</script>



    </div>
</div>


</body>

</html>