{{> Header}}

<script language="javascript">
    $(document).ready(function() {
        //$("#sto").addClass('active');                
    })    
    
    function newrole() {
        window.location.href = "newrole?cid={{cid}}";
        return false;
    }
    function editrole(id) {
        window.location.href = "newrole?cid={{cid}}&id=" + id;
        return false;        
    }
    
</script>

{{> HeaderInnerPlatform}}

<div class="row">
   <div class="col-md-12 ">
        <div class="card">
            <div class="header">
                <div class="row">
                   <div class="col-md-10">
                        <h4 class="title">List of Roles</h4>
                        <label>Add / Edit Company Administrator Roles</label>
                    </div>
                    
                    <div class="col-md-2">
                        <button onclick="return newrole()" class="btn btn-info btn-fill">New Role</button>
                    </div>
                </div>
            </div>
            
            <div class="content">

                <div class="row">  
                    <div class="col-md-3">
                        <img src='/img/stologo/{{sto.logo}}' style="max-width:180px; max-height:100px;">
                    </div>                      
                    <div class="col-md-8">
                        <span style="font-size:22px;">{{sto.title}}</span>
                        <br />
                        {{sto.stolink}}
                    </div>                  
                </div>                    
                
                <br /><br />
                
                {{#if recs.length}}
                    {{#each recs}}

                        <div class="row">

                            <div class="col-md-4">
                                {{this.Role}}
                            </div>
                            <div class="col-md-4">
                                <button onclick="return editrole({{this.ID}})" class="btn btn-info btn-fill btn-sm">Edit Role</button>
                            </div>
                            
                        </div>
                        <br />

                    {{/each}}
                {{else}}
                    <label>No Roles Found</label>
                    <br />&nbsp;
                {{/if}}


            </div>
        </div>
    </div>								
</div>

{{> Footer}}
